{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false,
      "exportDefaultFrom": false
    },
    "target": "esnext",
    "baseUrl": "./"
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true,
  "inlineSourcesContent": true
}
