{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false,
      "exportDefaultFrom": false
    },
    "target": "esnext",
    "baseUrl": "./",
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    }
  },
  "module": {
    "type": "es6"
  },
  "minify": true,
  "sourceMaps": "inline"
}
